* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	background-color: skyblue;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

nav > ul {
	list-style-type: none;
}

nav .nav {
	margin: 0.5rem;
	display: inline-block;

}

#wan {
	height: 50px;
	width: 50px;
	padding: 2px;
	border: 2px solid darkblue;
	background-color: floralwhite;
}